@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");

/* Cabeçalho style */
.navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: fixed;
  transition: all 0.3s ease-out 0s;
  padding: 0.5rem 3rem;
  font-size: 1.3rem;
}
.sticky {
  transition: all 0.3s ease-out 0s;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171);
  backdrop-filter: blur(15px);
}
.navbar-toggler {
  position: relative;
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggler span {
  display: block;
  background-color: #0084ff;
  height: 4px;
  width: 28px;
  margin-top: 3px;
  margin-bottom: 5px ;
  margin-right: 2rem ;
  transform: rotate(0deg) ;
  left: 0 ;
  opacity: 1;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px ;
  transform: rotate(-135deg);
  opacity: 0.9;
}

.navbar-nav .nav-link {
  color: black;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  padding-right: 1rem;
  padding-left: 1.5rem;
}
.navbar-nav .nav-link:hover {
  color: #2a07ea;
}
.resumebtn {
  margin-left: 30px;
  border-radius: 25px;
  padding: 0 25px;
  background-color: #0084ff;
  background-image: linear-gradient(43deg, #0084ff 100%0%, #FFE32C 25%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem;
    background-color: transparent;
  }
  .navbar-nav .nav-item a::after {
    display: none ;
  }
  .responsive-navbar {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #52ACFF 25%, 
      #FFE32C 100%0%
    );
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resumebtn {
    width: 150px;
    display: block;
    margin: 5px auto;
    padding: 8px 5px;
    letter-spacing: 1px;
  }
}
/* Homepage style */
.homepagebackground {
  width: 100%;
  height: 100vh;
}
.row {
  padding-top: 80px;
}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.Typewriter__wrapper {
  font-size: 2.0em;
  color: #191919;
  font-weight: 600;
  letter-spacing: 1px;
}
.Typewriter__cursor {
  font-size: 2.4em;
  color: #191919;
}
.headtext {
  padding-top: 120px;
  font-size: 2.4em;
  color: #191919;
  font-weight: 600;
  letter-spacing: 1px;
}
.nametext {
  font-size: 2.0em;
  color: #191919;
  font-weight: 600;
  letter-spacing: 1px;
}
.imagedeveloper {
  margin-top: 50px;
  max-width: 550px;
  height: 500px;
  background-image: url(../Assets/ot.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.socailmediabtn {
  margin-top: 2rem;
  width: 90px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
}
.socailmediabtn:hover {
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0.6;
}
.icon {
  font-size: 30px;
}

@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }
  .row {
    padding-top: 50px;
  }

  .Typewriter__wrapper {
    font-size: 1.9em;
  }
  .Typewriter__cursor {
    font-size: 2.2em;
  }
  .headtext {
    padding-top: 100px;
    font-size: 2em;
  }
  .nametext {
    font-size: 2.4em;
  }
  .imagedeveloper {
    margin-top: 50px;
    max-width: 420px;
    max-height: 400px;
  }
  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* SobreMimPage style */
.aboutpagebackground {
  padding-top: 130px;
  width: 100%;
  height: 100vh;
  padding-right: 1%;
  padding-left: 1%;
}

.aboutdetails {
  font-size: 1.1em;
}
.textbackground {
  text-align: justify;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #eef2f5;
  border-radius: 13px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.aboutmetext {
  text-align: justify;
  font-size: 2em ;
  color: #191919;
  font-weight: 600;
  letter-spacing: 1px;
}
.aboutmetext span:hover {
  display: inline-block;
  transition: all 500ms;
  color: #fff;
  animation: vibrate 30ms linear infinite forwards;
}
@keyframes vibrate {
  0% {
    transform: translateX(-1px) translateY(1px);
  }
  100% {
    transform: translateX(1px) translateY(-2px);
  }
}
.webimage {
  max-width: 520px;
  height: 500px;
  background-image: url(../Assets/perfilRenato.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .aboutpagebackground {
    width: 100%;
    height: 100%;
  }
  .textbackground {
    display: block;
    margin: 0 auto;
  }
}

/* Projetos pagina style */

.projectbackground {
  width: 100%;
  height: 100%;
}
.project-section {
  position: relative;
  padding-top: 10px;
}
.project-card {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto;
}

.project-card-view {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  color: #191919;
  background-color: #eef2f5;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s;
  height: 100%;
  border-radius: 15px;
}
.project-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-img-top {
  padding: 20px;
  opacity: 0.8;
  border-radius: 10px;
}
.viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.btn-primary {
  color: #0a0a0a;
  background-color: transparent;
  border-color: #191919;
}

.btn-primary:hover {
  color: #191919;
  background-color: #0974ee;
  border-color: #0974ee;
}
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 767px) {
  .project-section{
    padding-top: 40px;
  }
}

/* Contato Style */
.contactbackground {
  width: 100%;
  height: 120vh;
  padding-top: 100px;
}
.contacthead {
  padding-top: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.contactpara {
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 1rem;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}
.contactbtn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: solid 2px;
  background-color: transparent;
  letter-spacing: 2px;
}
.contactbtn:hover {
  background-color: rgba(51, 51, 51, 0.2);
}
.line {
  margin-top: 11rem;
}

@media (max-width: 767px) {
  .line {
    margin-top: 8rem;
  }
  .contactpara br {
    display: none;
  }
  .contactpara {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    text-align: justify;
    font-size: 16px;
  }
  .contactbackground {
    width: 100%;
    height: 100%;
  }
}

/* Habilidades Style */
.habilidadesbackground {
  width: 100%;
  height: 100vh;
  padding-top: 105px;
  padding-left: 3%;

}
.textbackgroundhabilidades{
  text-align: justify;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 5rem;
  background-color: #eef2f5;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.habilidadestext {
  text-align: justify;
  font-size: 2em;
  color: #191919;
  font-weight: 600;
  letter-spacing: 1px;
  
}
.habilidadestext span:hover {
  display: inline-block;
  transition: all 500ms;
  color: #1289de;
  animation: vibrate 30ms linear infinite forwards;
}
@media (max-width: 767px) {
  .habilidadesbackground {
    width: 100%;
    height: 100%;
    padding-left: 6%;
  }
  .textbackgroundhabilidades {
    padding: 1rem 1rem 1rem 1rem;
  }
}